header.header 
	.section_in 
		.header_main
			.header_logo
				a(href="#")
					img(src="i/logo.svg", alt="")
			.header_menu
				ul 
					li 
						a(href="#") Услуги
					li 
						a(href="#") О компании
					li 
						a(href="#") Работы
					li 
						a(href="#") Отзывы
					li 
						a(href="#") Контакты
			.header_social
				.header_social_wh 
					a(href="#")
						img(src="i/icons/whatsapp.png", alt="") 
				.header_social_tg 
					a(href="#")
						img(src="i/icons/telegram.png", alt="") 
			.header_phone
				.header_tel 
					a(href="#")
						p 8 (918) 981-70-03
				.header_call-back
					a(href="#" data-target="form" class="trigger") Перезвоните мне
			.burger_trigger.trigger(data-target="menu")
				span
				span
				span